<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Заметки</title>
  <link rel="stylesheet" href="static/static.css">
  <script src="js/vue.js"></script>
  <script defer src="js/main.js"></script>
</head>
<body>
  <div id="app">
    <div id="created">
        <h1>Заметки</h1>
        <div>
            <input class="cret" @keyup.enter="createNote" v-model="noteTitle" placeholder="заметка">
            <button class="cret" @click="createNote">Добавить</button>
        </div>
    </div>
          <br>
          <div class="container">
            <div class="column column1" >
              <p>блок №1</p>
                <list @del_note="deleteNote(index)" @column1_move="moveColumn1" :notes="notes" :note_data="note_data" v-for="(note_data, index) in notes" :key="index" ></list>
        <!--        v-if="note_data.completedNum <= 50"-->
            </div>
            <div class="column column2">
              <p>блок №2</p>
                <list @del_note="deleteNote(index)" @column2_move="moveColumn2" :notes2="notes2" :note_data="note_data" v-for="(note_data, index) in notes2" :key="index" ></list>
        <!--        v-if="note_data.completedNum > 50 && note_data.completedNum !== 100"-->
            </div>
            <div class="column column3">
              <p>блок №3</p>
                <list @del_note="deleteNote(index)" :notes3="notes3" :note_data="note_data" v-for="(note_data, index) in notes3" :key="index" ></list>
        <!--        v-if="note_data.completedNum === 100"-->
            </div>
            </div>
        </div>
</body>
</html>