* {
  margin: 0;
  padding: 0;
}

#created {
  text-align: center;
  font-family: cursive;
  
  
}

.cret{
  height: 30px;
  border-radius: 10px;
  font-family: cursive;
}

.container {
  font-family: cursive;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  justify-content: space-evenly;
  padding-top: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border:  3px solid green;
  border-radius: 30px;

}

.column1 {
  order: 1;
}

.column2 {
  order: 2;
}

.column3 {
  order: 3;
}

h1, h2{
  text-align: center;
}

li{
  list-style: none;
}
.none{
  display: none;
}
  
  